<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>
<main class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Регистрация</h2>

        <form th:action="@{/register}" th:object="${user}" method="post" class="auth-form">
            <input type="email" th:field="*{email}" placeholder="Email" required>
            <input type="password" th:field="*{password}" placeholder="Пароль" required>
            <button type="submit" class="btn auth-btn">Регистрация</button>
            <div class="auth-footer">
                <span>Уже есть аккаунт</span>
                <a th:href="@{/login}" class="auth-link">Вход</a>
            </div>
        </form>
    </div>
</main>
</body>
</html>