<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>
<h2>Регистрация</h2>

<form th:action="@{/register}" th:object="${user}" method="post">
    <input type="email" th:field="*{email}" placeholder="Email" required>
    <input type="password" th:field="*{password}" placeholder="Пароль" required>
    <button type="submit">Регистрация</button>
    <form action="/login" target="_blank">
        <button>Вернуться на страницу входа</button>
    </form>
</form>
</body>
</html>