<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>
<h1>Выбор класса</h1>

<ul>
    <li th:each="c : ${classes}">
        <a th:href="@{/parent/students/class/{id}(id=${c.id})}"
           th:text="${c.name}">
        </a>
        <a th:href="@{/parent/homework/class/{id}(id=${c.id})}"
           th:text="ДЗ">
        </a>
        <a th:href="@{/reports/class/{id}(id=${c.id})}"
           class="btn">Сформировать отчёт
        </a>
    </li>
</ul>

<a href="/home">← Назад</a>
</body>
</html>