<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>
<main class="auth-container">
    <div class="auth-card">

        <h2 class="auth-title">Выбор класса</h2>

        <ul class="action-list">
            <li th:each="c : ${classes}" class="action-item">
                <span class="item-title" th:text="${c.name}"></span>

                <div class="action-buttons">
                    <a th:href="@{/parent/students/class/{id}(id=${c.id})}"
                       class="btn-primary">
                        📊 Успеваемость
                    </a>

                    <a th:href="@{/parent/homework/class/{id}(id=${c.id})}"
                       class="btn-secondary">
                        📘 Домашние задания
                    </a>

                    <a th:href="@{/reports/class/{id}(id=${c.id})}"
                       class="btn-outline">
                        📄 Отчёт
                    </a>
                </div>
            </li>
        </ul>

        <a href="/home" class="btn-secondary">
            ← Назад
        </a>

    </div>
</main>
</body>
</html>