<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Мои предметы')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>
<main class="container">

    <h1 class="page-title">Мои предметы</h1>

    <ul class="list-card">
        <li th:each="s : ${subjects}" class="list-item">
            <a class="list-link"
               th:href="@{/teacher/grades/subject/{id}(id=${s.id})}"
               th:text="${s.name}">
            </a>
        </li>
    </ul>

    <a href="javascript:history.back()" class="btn-secondary">← Назад</a>

</main>
</body>
</html>