<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<form th:action="@{/teacher/attendance/save}" th:object="${attendance}" method="post">

    <select th:field="*{student}">
        <option th:each="s : ${students}" th:value="${s.id}" th:text="${s.name}"></option>
    </select>

    <select th:field="*{subject}">
        <option th:each="s : ${subjects}" th:value="${s.id}" th:text="${s.name}"></option>
    </select>

    <label>
        Present:
        <input type="checkbox" th:field="*{present}">
    </label>

    <button type="submit">Save</button>
</form>
<a href="javascript:history.back()">← Назад</a>
</body>
</html>