<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Новый учитель</h2>

<form th:action="@{/teacherRegister}" th:object="${user}" method="post">
    <input type="email" th:field="*{email}" placeholder="Email" required>
    <input type="password" th:field="*{password}" placeholder="Пароль" required>
    <button type="submit">Зарегестрировать</button>
</form>
<a href="/home">Назад</a>
</body>
</html>