<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h1>Расписание</h1>

<a href="/admin/schedule/new">Добавить урок</a>

<div th:each="c : ${classes}">
    <h2 th:text="'Class ' + ${c.name}"></h2>

    <table>
        <thead>
        <tr>
            <th>Lesson</th>
            <th th:each="d : ${days}" th:text="${d}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="l : ${lessons}">
            <td><b th:text="${l}"></b></td>

            <td th:each="d : ${days}">
                <div th:each="s : ${schedule}"
                     th:if="${s.classRoom.id == c.id and s.lessonNumber == l and s.dayOfWeek == d}"
                     class="lesson-cell">

                    <a th:href="@{/admin/schedule/edit/{id}(id=${s.id})}"
                       class="lesson-link">

                        <span th:text="${s.subject.name}"></span>
                        <small th:text="${s.teacher.name}"></small>

                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a href="/home">Назад</a>
</body>
</html>
