<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<main class="form-container">
    <div class="form-card">

        <h1 class="form-title">Класс</h1>

        <form th:action="@{/admin/classes}"
              th:object="${classRoom}"
              method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label>Название класса</label>
                <input type="text" th:field="*{name}" required>
            </div>

            <div class="form-actions">
                <a th:href="@{/admin/classes}" class="form-link">← Назад</a>
                <button type="submit" class="btn">Сохранить</button>
            </div>

        </form>
    </div>
</main>

</body>
</html>
