<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Класс</h2>

<form th:action="@{/admin/classes}" th:object="${classRoom}" method="post">

    <input type="hidden" th:field="*{id}"/>

    Название:
    <input type="text" th:field="*{name}" required/>

    <button type="submit">Сохранить</button>

</form>

<a href="/admin/classes">Назад</a>

</body>
</html>
