<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Классы</h2>

<div th:if="${errorMessage}" style="color:red;">
    <p th:text="${errorMessage}"></p>
</div>

<a th:href="@{/admin/classes/new}">Добавить класс</a>

<table border="1">
    <tr>
        <th>Название</th>
        <th>действия</th>
    </tr>
    <tr th:each="c : ${classes}">
        <td th:text="${c.name}"></td>
        <td>
            <a th:href="@{/admin/classes/edit/{id}(id=${c.id})}">Изменить</a>
            <a th:href="@{/admin/classes/delete/{id}(id=${c.id})}">Удалить</a>
        </td>
    </tr>
</table>

<a href="/home">Назад</a>
</body>
</html>
