<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h1>Учитель</h1>

<form th:action="@{/admin/teachers/save}"
      th:object="${teacher}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    <div>
        Имя:
        <input type="text" th:field="*{name}" required>
    </div>

    <div>
        Предметы:
        <select th:field="*{subjects}" multiple size="5">
            <option th:each="s : ${subjects}"
                    th:value="${s.id}"
                    th:text="${s.name}"
                    th:selected="${teacher.subjects.contains(s)}">
            </option>
        </select>
    </div>

    <button type="submit">Сохранить</button>
</form>

<a href="/admin/teachers">Назад</a>

</body>
</html>