<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h1>Учителя</h1>

<div th:if="${errorMessage}" style="color:red;">
    <p th:text="${errorMessage}"></p>
</div>

<a href="/admin/teachers/new">Добавить учителя</a>

<table border="1">

    <tr th:each="t : ${teachers}">
        <td th:text="${t.name}"></td>
        <td>
        <span th:each="s : ${t.subjects}"
              th:text="${s.name + ' '}"></span>
        </td>
        <td>
            <a th:href="@{/admin/teachers/edit/{id}(id=${t.id})}">Изменить</a>
        </td>
    </tr>

</table>

<a href="/home">Назад</a>

</body>
</html>
