<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>
<main class="auth-container">
    <div class="auth-card wide">

        <h2 class="auth-title">Домашние задания</h2>

        <ul class="homework-list">
            <li th:each="h : ${homeworks}" class="homework-item">
                <div class="homework-header">
                    <span class="homework-subject" th:text="${h.subject.name}"></span>
                    <span class="homework-date">
                        до <span th:text="${h.dueDate}"></span>
                    </span>
                </div>

                <div class="homework-description"
                     th:text="${h.description}">
                </div>
            </li>
        </ul>

        <a href="javascript:history.back()" class="btn-secondary">
            ← Назад
        </a>

    </div>
</main>
</body>
</html>