<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Домашнее задание</h2>

<form th:action="@{/admin/homeworks/save}"
      th:object="${homework}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    <p>
        Класс:
        <select th:field="*{classRoom}">
            <option th:each="c: ${classes}"
                    th:value="${c.id}"
                    th:text="${c.name}">
            </option>
        </select>
    </p>

    <p>
        Предмет:
        <select th:field="*{subject}">
            <option th:each="s: ${subjects}"
                    th:value="${s.id}"
                    th:text="${s.name}">
            </option>
        </select>
    </p>

    <p>
        Задание:
        <textarea th:field="*{description}"></textarea>
    </p>

    <p>
        Дата сдачи:
        <input type="date" th:field="*{dueDate}">
    </p>

    <button type="submit">Сохранить</button>

</form>

<a href="/admin/homeworks">Назад</a>

</body>
</html>
