<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>Homeworks</h2>

<a th:href="@{/admin/homeworks/new}">Add Homework</a>

<table border="1">
    <tr>
        <th>Class</th>
        <th>Subject</th>
        <th>description</th>
        <th>Due date</th>
        <th>Actions</th>
    </tr>

    <tr th:each="h : ${homeworks}">
        <td th:text="${h.classRoom.name}"></td>
        <td th:text="${h.subject.name}"></td>
        <td th:text="${h.description}"></td>
        <td th:text="${h.dueDate}"></td>
        <td>
            <a th:href="@{/admin/homeworks/edit/{id}(id=${h.id})}">Edit</a> |
            <a th:href="@{/admin/homeworks/delete/{id}(id=${h.id})}">Del</a>
        </td>
    </tr>

</table>

<a href="/home">Back home</a>
</body>
</html>
