<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Домашняя работа</h2>

<a th:href="@{/admin/homeworks/new}">Add Homework</a>

<table border="1">
    <tr>
        <th>Class</th>
        <th>Subject</th>
        <th>description</th>
        <th>Due date</th>
        <th>Actions</th>
    </tr>

    <tr th:each="h : ${homeworks}">
        <td th:text="${h.classRoom.name}"></td>
        <td th:text="${h.subject.name}"></td>
        <td th:text="${h.description}"></td>
        <td th:text="${h.dueDate}"></td>
        <td>
            <a th:href="@{/admin/homeworks/edit/{id}(id=${h.id})}">Изменить</a> |
            <a th:href="@{/admin/homeworks/delete/{id}(id=${h.id})}">Удалить</a>
        </td>
    </tr>

</table>

<a href="/home">Назад</a>
</body>
</html>
