<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Ученик')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<main class="form-container">
    <div class="form-card">

        <h1 class="form-title">Ученик</h1>

        <form th:action="@{/admin/students/save}"
              th:object="${student}"
              method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label>Имя</label>
                <input type="text" th:field="*{name}" required>
            </div>

            <div class="form-group">
                <label>Класс</label>
                <select th:field="*{classRoom}">
                    <option th:each="c : ${classRooms}"
                            th:value="${c.id}"
                            th:text="${c.name}">
                    </option>
                </select>
            </div>

            <div class="form-actions">
                <a th:href="@{/admin/students}" class="form-link">← Отмена</a>
                <button type="submit" class="btn">Сохранить</button>
            </div>

        </form>
    </div>
</main>

</body>
</html>
