<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
<h1>Админ</h1>
<a href="/admin/teachers">Учителя</a>
<a href="/admin/subjects">Предметы</a>
<a href="/admin/students">Студенты</a>
<a href="/admin/grades">Оценки</a>
<a href="/admin/classes">Классы</a>
<a href="/admin/homeworks">ДЗ</a>
<a href="/admin/schedule">Расписание</a>
<a href="/admin/teacherreg">зарегистрировать учителя</a>
<h1>Учитель</h1>
<a href="/teacher/attendance/new">Отметить</a>
<a href="/teacher/grades">Поставить оценку</a>
<a href="/teacher/homework">Оставить домашнее задание</a>
<h1>Родитель</h1>
<a href="/parent/students">Посмотреть список классов</a>
</body>
</html>