<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Оценка</h2>

<form th:action="@{/admin/grades/save}"
      th:object="${grade}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    <p>
        Ученик:
        <select th:field="*{student}">
            <option th:each="s: ${students}"
                    th:value="${s.id}"
                    th:text="${s.name}">
            </option>
        </select>
    </p>

    <p>
        Предмет:
        <select th:field="*{subject}">
            <option th:each="s: ${subjects}"
                    th:value="${s.id}"
                    th:text="${s.name}">
            </option>
        </select>
    </p>

    <p>
        Оценка:
        <input type="number" th:field="*{grade_value}" min="1" max="5"/>
    </p>

    <p>
        За что:
        <input type="text" th:field="*{typeOfWork}"/>
    </p>

    <p>
        Дата:
        <input type="date" th:field="*{date}"/>
    </p>

    <button type="submit">Сохранить</button>
</form>

<a href="/admin/grades">Назад</a>
</body>
</html>
