<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<div class="page">

    <div class="page-header">
        <h2>Оценки</h2>
        <a th:href="@{/admin/grades/new}" class="btn btn-primary">Поставить оценку</a>
    </div>

    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Ученик</th>
            <th>Предмет</th>
            <th>Оценка</th>
            <th>Тип</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="g : ${grades}">
            <td th:text="${g.student.name}"></td>
            <td th:text="${g.subject.name}"></td>
            <td><b th:text="${g.grade_value}"></b></td>
            <td th:text="${g.typeOfWork}"></td>
            <td th:text="${g.date}"></td>
            <td class="actions">
                <a th:href="@{/admin/grades/edit/{id}(id=${g.id})}" class="btn btn-secondary">Изменить</a>
                <a th:href="@{/admin/grades/delete/{id}(id=${g.id})}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="/home" class="btn btn-secondary" style="margin-top:20px;">Назад</a>
</div>
</body>
</html>
