<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="layout/head :: head('Школьная система')"></div>
</head>

<body>

<div th:insert="~{layout/base :: header}"></div>

<h2>Оценки</h2>

<a th:href="@{/admin/grades/new}">Поставить оценку</a>

<table border="1">
    <tr>
        <th>Ученик</th>
        <th>Предмет</th>
        <th>Оценка</th>
        <th>За что</th>
        <th>Дата</th>
        <th>действие</th>
    </tr>
    <tr th:each="g: ${grades}">
        <td th:text="${g.student.name}"></td>
        <td th:text="${g.subject.name}"></td>
        <td th:text="${g.grade_value}"></td>
        <td th:text="${g.typeOfWork}"></td>
        <td th:text="${g.date}"></td>
        <td>
            <a th:href="@{/admin/grades/edit/{id}(id=${g.id})}">Изменить</a> |
            <a th:href="@{/admin/grades/delete/{id}(id=${g.id})}">Удалить</a>
        </td>
    </tr>
</table>

<a href="/home">Назад</a>
</body>
</html>
